.card {
  flex-grow: 1;
  width: 30%;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.header {
  background-color: #4caf50;
  color: white;
  padding: 10px;
}

.footer {
  padding: 10px;
}

.content {
  padding: 10px;
}
